[mysqld]
server-id=2
relay-log=relay-bin
read_only=ON
super_read_only=ON
gtid_mode=ON
enforce-gtid-consistency=ON
log-slave-updates=ON
skip-slave-start=OFF

character-set-server=utf8mb4
collation-server=utf8mb4_unicode_ci
default-time-zone='+08:00'

max_connections=500
max_connect_errors=1000
innodb_buffer_pool_size=1G
innodb_log_file_size=256M

slow_query_log=ON
slow_query_log_file=/var/log/mysql/slow.log
long_query_time=2

[mysql]
default-character-set=utf8mb4
